. {
  errors
  reload

  # don't hijack elb domains so they continue to work normally
  forward elb.amazonaws.com 1.1.1.1

  template IN A rds.amazonaws.com {
      answer "{{`{{ .Name }}`}} 60 IN A 127.0.0.1"
  }

  {{ $hosts := groupByLabel $ "virtual.host" }}
  {{ range $h, $containers := $hosts }}
    {{ range $t, $host := splitList " " $h }}
  template IN A {{ (regexReplaceAll ":.*" ($host | trimPrefix "https://" | trimPrefix "http://" | trimPrefix "*.") "") }} {
      answer "{{`{{ .Name }}`}} 60 IN A 127.0.0.1"
  }
    {{ end }}
  {{ end }}

  forward . 1.1.1.1
}

