# don't hijack elb domains so they continue to work normally
elb.amazonaws.com {
  forward . 1.1.1.1
}

rds.amazonaws.com {
  template IN A {
      answer "{{`{{ .Name }}`}} 60 IN A 127.0.0.1"
  }
}

. {
  errors
  reload

  {{ $hosts := groupByLabel $ "virtual.host" }}
  {{ range $h, $containers := $hosts }}
    {{ range $t, $host := splitList " " $h }}
  template IN A {{ (regexReplaceAll ":.*" ($host | trimPrefix "https://" | trimPrefix "http://" | trimPrefix "*.") "") }} {
      answer "{{`{{ .Name }}`}} 60 IN A 127.0.0.1"
  }
    {{ end }}
  {{ end }}

  import /extra/*

  forward . 1.1.1.1
}

